@using Entities.ViewModels.Car;
@using Entities.Models;
@model List<CartoFactoryModel>
<div class="card-dashboard">
    <div class="card-header">
        <h3>Thống kê ngày</h3>
        <div class="date-picker">
            <input type="date" value="2025-07-24">
        </div>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Giờ đăng ký online</th>
                <th>Tên KH (Trại, đại lý)</th>
                <th>Tên lái xe</th>
                <th>Số điện thoại</th>
                <th>Biển số xe</th>
                <th>Nhóm tài</th>
                <th>Giờ xe có mặt</th>
                <th>Giờ vào cân</th>
                <th>Giờ cân xong đầu vào</th>
                <th>Giờ vào máng</th>
                <th>Giờ cân xong đầu ra</th>
                <th>Thời gian xuất hàng(Phút)</th>
                <th>Tình trạng</th>
                <th>Tổng trọng lượng đã lấy(KG)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RecordNumber</td>
                    <td>@(((DateTime)item.RegisterDateOnline).ToString("HH:mm dd/MM/yyyy"))</td>
                    <td>@item.CustomerName</td>
                    <td>@item.DriverName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.VehicleNumber</td>
                    <td>@item.VehicleLoad</td>
                    <td>@(item.VehicleArrivalDate == null ? item.VehicleArrivalDate.Value.ToString("HH:mm dd/MM/yyyy") : "")</td>
                    <td>@(item.VehicleWeighingTimeComeIn == null ? item.VehicleWeighingTimeComeIn.Value.ToString("HH:mm dd/MM/yyyy") : "")</td>
                    <td>@(item.VehicleWeighingTimeComeOut == null ? item.VehicleWeighingTimeComeOut.Value.ToString("HH:mm dd/MM/yyyy") : "")</td>
                    <td>@(item.VehicleTroughTimeComeIn == null ? item.VehicleTroughTimeComeIn.Value.ToString("HH:mm dd/MM/yyyy") : "")</td>
                    <td>@(item.VehicleWeighingTimeComplete == null ? item.VehicleWeighingTimeComplete.Value.ToString("HH:mm dd/MM/yyyy") : "")</td>
                    <td></td>
                    <td></td>
                    <td>@item.VehicleTroughWeight</td>

                </tr>
            }


        </tbody>
    </table>
</div>